@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Tektur:wght@400..900&display=swap');
body {
    background-color: rgb(3, 3, 98);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
    width: 200vh;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    margin-top: 5%;
    font-size: 69px;
}

#button {
    width: 168px;
    height: 60px;
    background-color: black;
    color: rgb(219, 7, 7);
    font-size: 48px;
    line-height: 50px;
    text-align: center;
}

#button:hover {
    cursor: pointer;
    box-shadow: opx 3px 3px black;
}

#jokecontent,
#joke {
    font-size: 40px;
    line-height: 38px;
}

#jokecontent,
img {
    margin-top: 10px;
}